$priamryColor: #0BBCEF;
$darkBlueColor: #48507A;
$darkLightBlueColor: #555C83;
$lightGreyColor: #8492A6;
$lightGreyColor1: #848895;
$mediumGreyColor: #666766;
$borderColor: #F1F1F1;
$lightBorderColor: #E7E7E7;

.iconopt {
  margin-top: 15px;
  cursor: pointer;
}

.firstsection {
  width: 32%;
  height: 60px;
  float: left;
}

.secondsection {
  height: 60px;
}

.mainsection {
  width: 210px;
  height: 60px;
  float: left;
}

.subsection {
  width: 150px;
  height: 60px;
  float: right;
  margin-right: 10px;
}

.grdcolorsection {
  width: 175px!important;
}

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 26px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
}

input:checked + label {
  background: #34a7ea;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 10px;
}

.tbold ,.titalic ,.tunder {
  opacity: 0.5
}

h1, h3, h5 {
  text-align: center;
  cursor: pointer;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

h5 {
  font-size: 18px;
  font-weight: normal;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
.container {
  width: 100%!important;
  padding-right: 0!important;
  padding-left: 0!important;
  margin-right: 0!important;
  margin-left: 0!important;
}

@media (min-width: 576px) {
  .container {
    max-width: 100%!important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100%!important;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 100%!important;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 100%!important;
  }
}
.row {
  margin-right: 0!important;
  margin-left: -0!important;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  padding-right: 0!important;
  padding-left: 0!important;
}
